services:
  db:
    container_name: db
    image: postgres:17
    expose:
      - 5432
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./.env

  api:
    container_name: api
    build: .
    command: bash -c "alembic upgrade head && uvicorn library_service.main:app --reload --host 0.0.0.0 --port 8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

  tests:
    container_name: tests
    build: .
    command: bash -c "pytest tests"
    volumes:
      - .:/code
    depends_on:
      - db
